{# src/First/PageBundle/Resources/Resources/views/FirstPage/admin.html.twig #}
{% extends '::base_detail.html.twig' %}

{% block navigation %}
    <nav>
        <ul class="navigation">
            <li><a href="{{path('first')}}">Главная</a></li>
            <li><a href="{{path('readorders', {'order': "first", 'orderstatus': "0", 'idorder': "0"})}}">Заказы</a></li>
            <li><a href="{{path('admin', { 'name_tab': 'first' })}}">Меню</a></li>
            <li><a href="{{path('login')}}">Вход</a></li>
            <li><a href="{{ logout_path('secured_area') }}">Выход</a></li>
        </ul>
    </nav>
{% endblock %}

{% block main_menu %}{#заполняем блок меню#}
    {{ ' • ' }}
    {% if col_menu == 1 %}
        <a href="{{path('admin', { 'name_tab': res_menu.NameTab() })}}">{{ res_menu.NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
        {{ ' • ' }}
    {% else %}
        {% for key, value in res_menu %}
            <a href="{{path('admin', { 'name_tab': res_menu[key].NameTab() })}}">{{ res_menu[key].NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
            {{ ' • ' }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block detail_order %}

    <h4>{{ menu_name.namePage() }}</h4></br></br>
    <form id = "myform" action="javascript:" method="post" >
        <table id = "MTable">
            <tr><th><h1>Название</h1></th><th><h1>Кол-во, гр.</h1></th>
                <th><h1>Цена, грн.</h1></th><th><h1>Удалить</h1></th></tr>
            {% for key, value in res_tabl %}
                <tr id = "tr{{ key }}"><td><input type="text" id = "name{{ key }}" name="name{{ key }}" value="{{ res_tabl[key].Name() }}" pattern = "^[A-Za-zА-Яа-яЁё0-9 -]+$"></br>
                        <h3><textarea  id = "composition{{ key }}" name="composition{{ key }}" pattern = "^[A-Za-zА-Яа-яЁё0-9 ]+$">{{ res_tabl[key].Composition() }}</textarea></h3></td>
                    <td><h2><input class = "col2" type="text" id = "portion{{ key }}" name="portion{{ key }}" value="{{ res_tabl[key].Portion() }}" pattern = "^[0-9]+$"></h2></td>
                    <td><h2><input class = "col3" type="text" id = "cost{{ key }}" name="cost{{ key }}" value="{{ res_tabl[key].Cost() }}" pattern = "^[0-9.]+$"></h2></td>
                <td><h2><input type="checkbox" name="id{{ key }}" value={{ res_tabl[key].id() }}></h2></td></tr></tr>
                {#<input id = "col" type="hidden" name="col" value={{ key }}>#}{#текущее количество записей в таблице#}
            {% endfor %}
        </table>
            <input type="hidden" id = "_nametab" name="nametab" value={{ menu_name.nameTab() }}>
            <input type="hidden" id="_path" name="_path" value="{{ url('login_ajax') }}" />
            </br><input type="submit" name="update_menu" value = "Применить"/></br>
    </form>
    </br><input type = "button" id = "add" name = "add_item" value = "Добавить блюдо" /></br>
    <a id="shadow"  style="display:none;"></a>
    </br><input type="button" id="export" name="export" value = "Экспорт меню" onclick="javascript:HtmltoExcel('{{ menu_name.nameTab() }}')"/></br>
 {% endblock %}

{% block javascripts %}
    {% javascripts '@FirstPageBundle/Resources/Public/js/jquery-2.2.3.min.js'
    '@FirstPageBundle/Resources/Public/js/menu.js' %}
    <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}