{# src/First/PageBundle/Resources/Resources/views/FirstPage/adminorders.html.twig #}
{% extends '::base_detail.html.twig' %}

{% block navigation %}
    <nav>
        <ul class="navigation">
            <li><a href="{{path('first')}}">Главная</a></li>
            <li><a href="{{path('readorders')}}">Заказы</a></li>
            <li><a href="{{path('admin', { 'name_tab': 'first' })}}">Меню</a></li>
            <li><a href="{{path('login')}}">Вход</a></li>
            <li><a href="{{ logout_path('secured_area') }}">Выход</a></li>
        </ul>
    </nav>
{% endblock %}

{% block main_menu %}
    <div id="user"></div>{#заполняем блок именами посетителей из обработаных заказов#}
    {#checkbox для выбора обработанных заказов#}
    </br><input type="checkbox" id="acc_order" name="acc_order" ><label for="acc_order">Просмотр обработанных заказов</label>
    {#checkbox для запуска таймера проверки новых заказов#}
    </br><input type="checkbox" id="wake_order" name="wake_order" ><label for="wake_order">Проверка поступления новых заказов</label>
{% endblock %}

{% block detail_menu %}
    <div id="new_order"></div>
{% endblock %}

{% block detail_order %}{#заполняем блок названиями блюд из текущего заказа#}
    <div id="detail"></div>
        {#Объект 'a' предназначен для изменения имени экспортируемого файла#}
    <a id="shadow"  style="display:none;"></a>
    </br><input type="button" id="export" name="export" value = "Экспорт заказа" onclick="javascript:HtmltoExcel('user_name - datetime')"/></br>
    <input type="hidden" id="path" name="path" value="{{ url('readordersAjax') }}" />
{% endblock %}

{% block javascripts %}
    {% javascripts '@FirstPageBundle/Resources/Public/js/jquery-2.2.3.min.js'
    '@FirstPageBundle/Resources/Public/js/export.js'
    '@FirstPageBundle/Resources/Public/js/orders.js' %}
    <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}

