{# src/First/PageBundle/Resources/Resources/views/FirstPage/index.html.twig #}
{% extends '::base_detail.html.twig' %}

{% block main_menu %}
	{{ ' • ' }}
	{% if col_menu == 1 %}
		<a href="{{path('main_menu', { 'name_tab': a })}}">{{ res_menu.NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
		{{ ' • ' }}
	{% else %}
	{% for key, value in res_menu %}
		<a href="{{path('main_menu', { 'name_tab': res_menu[key].NameTab() })}}">{{ res_menu[key].NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
		{{ ' • ' }}
	{% endfor %}
	{% endif %}
{% endblock %} 

{% block detail_name %}
	<h1>Название</h1> </br>
	{% if col_tabl == 1 %}
			res_tabl.Name()
		{% else %}
		{% for key, value in res_tabl %}
			{{ res_tabl[key].Name() }}</br>
			<h3>{{ res_tabl[key].Composition() }}</h3><br>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block detail_portion %}
	<h1>Кол-во, гр.</h1></br>
	Portion
{% endblock %}

{% block detail_cost %}
	<h1>Цена грн.</h1></br>
	{% if col_tabl == 1 %}
			res_tabl.Cost()
		{% else %}
		{% for key, value in res_tabl %}
			{{ res_tabl[key].Cost() }}</br>
			<h3>{{ res_tabl[key].Composition() }}</h3><br>
		{% endfor %}
	{% endif %}
{% endblock %}

