{# src/First/PageBundle/Resources/Resources/views/FirstPage/detail_menu.html.twig #}
{% extends '::base_detail.html.twig' %}

{% block main_menu %}{#заполняем блок меню#}
	{{ ' • ' }}
	{% if col_menu == 1 %}
		<a href="{{path('main_menu', { 'name_tab': res_menu.NameTab() })}}">{{ res_menu.NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
		{{ ' • ' }}
	{% else %}
		{% for key, value in res_menu %}
			<a href="{{path('main_menu', { 'name_tab': res_menu[key].NameTab() })}}">{{ res_menu[key].NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
			{{ ' • ' }}
			{% endfor %}
	{% endif %}
{% endblock %}

{% block detail_menu %}{#заполняем блок дeтальной информацией из выбраного меню#}
	{% if user_name == '' %}
	<h4>{{ menu_name.namePage() }}</h4></br></br>
	<table>
	<tr><th><h1>Название</h1></th><th><h1>Кол-во, гр.</h1></th><th><h1>Цена, грн.</h1></th></tr>
	{% if col_tabl == 1 %}
			res_tabl.Name()
	{% else %}
		{% for key, value in res_tabl %}
			<tr><td>{{ res_tabl[key].Name() }}</br><h3>{{ res_tabl[key].Composition() }}</h3></td><td><h2>{{ res_tabl[key].Portion() }}</h2></td><td><h2>{{ res_tabl[key].Cost() }}</h2></td></tr>
		{% endfor %}
	{% endif %}
	</table>
	{% endif %}
{% endblock %}

{% block detail_order %}

	{% if user_name != '' %}
		<h4>{{ menu_name.namePage() }}</h4></br></br>
	<form action="{{ path('receiveorder') }}" method="post" >
		<table>
			<tr><th><h1>Название</h1></th><th><h1>Кол-во, гр.</h1></th>
				<th><h1>Цена, грн.</h1></th><th><h1>Заказ</h1></th></tr>
			{% if col_tabl == 1 %}
				res_tabl.Name()
			{% else %}
				{% for key, value in res_tabl %}
					<tr><td>{{ res_tabl[key].Name() }}</br><h3>{{ res_tabl[key].Composition() }}</h3></td>
						<td><h2>{{ res_tabl[key].Portion() }}</h2></td>
						<td><h2>{{ res_tabl[key].Cost() }}</h2></td>
						<td><h2><input type="checkbox" name="id{{ key }}" value={{ res_tabl[key].id() }}></h2></td></tr></tr>
					<input type="hidden" name="col" value={{ key }}>{#количество записей в таблице#}
					<input type="hidden" name="portion{{ key }}" value={{ res_tabl[key].Portion() }}>
					<input type="hidden" name="cost{{ key }}" value={{ res_tabl[key].Cost() }}>
					<input type="hidden" name="name{{ key }}" value="{{ res_tabl[key].Name() }}">
				{% endfor %}
			{% endif %}
			<input type="hidden" name="nametab" value={{ menu_name.nameTab() }}>
		</table>
		</br><input type="submit" name="receive" value = "В корзину"/></br>
	</form>
	<form action="{{ path('previeworder') }}" method="post" >
		</br><input type="submit" name="preview" value = "Просмотр заказа"/></br>
	</form>
	{% endif %}
{% endblock %}




