{# src/First/PageBundle/Resources/Resources/views/FirstPage/index.html.twig #}
{% extends 'FirstPageBundle:FirstPage:layout.html.twig' %}

{% block main_menu %}
	{{ ' • ' }}
	{% if col == 1 %}
		<a href="{{path('main_menu', { 'name_tab': result[key].NameTab() })}}">{{ result[key].NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
		{{ ' • ' }}
	{% else %}
	{% for key, value in result %}
		<a href="{{path('main_menu', { 'name_tab': result[key].NameTab() })}}">{{ result[key].NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
		{{ ' • ' }}
	{% endfor %}
	{% endif %}
{% endblock %} 

{% block main_welcome %}
	Welcome text
{% endblock %} 

