{# src/First/PageBundle/Resources/Resources/views/FirstPage/index.html.twig #}
{% extends 'FirstPageBundle:FirstPage:layout.html.twig' %}

{% block main_menu %}
	{{ ' • ' }}
	{% if col == 1 %}
		<a href="{{path('main_menu', { 'name_tab': result[key].NameTab() })}}">{{ result[key].NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
		{{ ' • ' }}
	{% else %}
	{% for key, value in result %}
		<a href="{{path('main_menu', { 'name_tab': result[key].NameTab() })}}">{{ result[key].NamePage() }}</a>{#main_menu название маршрута из routing.yml#}
		{{ ' • ' }}
	{% endfor %}
	{% endif %}
{% endblock %} 

{% block main_welcome %}
	<h2>Добро пожаловать в наш ресторан!</h2>
	<p>Главной особенностью нашего ресторана является следование истинным кулинарным традициям различных кухонь мира.
		Наши шеф-повара с особым творчеством и профессионализмом подходят к приготовлению блюд, в итоге вы получаете
		по-домашнему вкусные и здоровые блюда. Мы предоставляем возможность насладиться блюдами не только в ресторане,
		но и заказать доставку еды домой или в офис.
		Любителям вкусной, ароматной итальянской пиццы рекомендуем посетить наш раздел где представлены лучшие образцы,
		которые с удовольствием приготовят для Вас наши повара. Приготовленная нашими поварами пицца отличается
		отменными вкусовыми качествами. Уютная семейная траттория предлагает расслабляющую обстановку, для наслаждения
		классическими традиционными блюдами, ориентированными на любой вкус.</p>
{% endblock %} 

