{# src/First/PageBundle/Resources/Resources/views/FirstPage/preview_order.html.twig #}
{% extends '::base_detail.html.twig' %}

{% block main_menu %}{#заполняем блок меню#}
    Корзина заказа
{% endblock %}

{% block detail_menu %}{#заполняем блок дeтальной информацией из выбраного меню#}
    
{% endblock %}

{% block detail_order %}
        <form action="{{ path('confirmorder') }}" method="post" >
            <table>
                <tr><th><h1>Название</h1></th><th><h1>Кол-во, гр.</h1></th>
                    <th><h1>Цена, грн.</h1></th><th><h1>Отменить</h1></th></tr>
                {% if col == 1 %}
                    <tr><td>{{ results['name_dishes'] }}</br></td>
                    <td><h2>{{ results['portion'] }}</h2></td>
                    <td><h2>{{ results['cost'] }}</h2></td>
                {% else %}
                    {% for key, value in results %}
                        <tr><td>{{ results[key]['name_dishes'] }}</br></td>
                            <td><h2>{{ results[key]['portion'] }}</h2></td>
                            <td><h2>{{ results[key]['cost'] }}</h2></td>
                            <td><h2><input type="checkbox" name="id{{ key }}" value={{ results[key]['id'] }}></h2></td></tr></tr>
                        <input type="hidden" name="col" value={{ key }}>{#количество записей в таблице#}
                    {% endfor %}
                {% endif %}
            </table>
            </br><input type="submit" name="confirm" value = "Подтвердить заказ"/>
            </br><input type="submit" name="update" value = "Подтвердить изменения"/>
        </form>
{% endblock %}



