{# src/First/PageBundle/Resources/Resources/views/FirstPage/registration.html.twig #}
{% extends '::base.html.twig' %}

{% block main_menu %}
	Для регистрации введите свои учётные данные!
{% endblock %} 

{% block main_welcome %}
	{#Первая попытка регистрации или произошла ошибка#}
	{% if (message == '' and error == 0) or (message != '' and error != 0) %}
		{% if message %}
			{{ message }}</br></br>
		{% endif %}
	{#Форма для регистрации нового пользлвателя#}
	<form action="{{ path('writeregdata') }}" method="post" >
		<label for="Имя">Имя:</label>
		<input type="text" id="username" name="username"/></br></br>
		<label for="Пароль">Пароль:</label>
		<input type="password" id="password" name="password" /></br></br>
		<label for="Email">Email:</label>
		<input type="text" id="email" name="email" /></br></br>
		<input type="submit" name="login" />
	</form>
	{% endif %}

	{#Регистрация прошла успешно#}
	{% if message != '' and error == 0 %}
		<div>{{ message }}</div></br>
		Ваше имя: {{ username }}</br>
		Password: {{ password }}</br>
		Email: {{ email }}</br>
	{% endif %}


{% endblock %}



